.vs/
.vscode/
hurimg.core/bin/
hurimg.core/obj/
ImageServer.Core/bin/
ImageServer.Core/obj/
ImageServer.Core/ImageServer.Core.user
ImageServer.Tests/bin/
ImageServer.Tests/obj/
ImageServer.Integration.Tests/obj/
ImageServer.Integration.Tests/bin/

*.log
