<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="c:\temp\internal-nlog.txt">

  <!-- Load the ASP.NET Core plugin -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file -->
    <target xsi:type="Console" name="allfile"
            layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}|${aspnet-Request-Url}|refer:${aspnet-request:header=Referer}" />

    <!-- tcp logstash target -->
    <target name="logstash" xsi:type="Network" address="${var:tcpAddress}" newLine="true">
      <layout xsi:type="JsonLayout" includeAllProperties="false">
        <attribute name="@timestamp" layout="${date:universalTime=true:format=yyyy-MM-ddTHH\:mm\:ss.fffZ}" />
        <attribute name="ApplicationName" layout="${iis-site-name:upperCase=true}"  />
        <attribute name="Logger" layout="${logger}" />
        <attribute name="MethodName" layout="${callsite}"  />
        <attribute name="LogLineNumber" layout="${callsite-linenumber}"  />
        <attribute name="Date" layout="${date:universalTime=true:format=o}"  />
        <attribute name="Exception" layout="${exception:maxInnerExceptionLevel=3:format=ToString}"  />
        <attribute name="CallStack" layout="${stacktrace:format=Raw}" />
        <attribute name="Message" layout="${message}" />
        <attribute name="Level" layout="${level:upperCase=true}"  />
        <attribute name="MachineName" layout="${machineName:upperCase=true}"  />
        <attribute name="Url" layout="${aspnet-Request-Url}" />
        <attribute name="Domain" layout= "${aspnet-request:serverVariable=HTTP_URL}"/>
        <attribute name="QueryString" layout= "${aspnet-request:queryString}"/>
        <attribute name="Referer" layout="${aspnet-request:header=Referer}" />
        <attribute name="Client-IP" layout="${aspnet-request:header=Client-IP}" />
      </layout>
    </target>

    <!-- write to the void aka just remove -->
    <target xsi:type="Null" name="blackhole" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Warn" writeTo="allfile" />

    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Trace" writeTo="logstash" />
  </rules>
</nlog>